html{
    box-sizing:border-box;
    background-color:black;
    color:white;
}
#winlossscreen{
    margin:0 auto;
    text-align:left;
    width:30%;
}
#startdisplay{
    padding: 10px;
    text-align:center;
    margin: 0 auto;
    height:200px;
    width: 40%;
    border: 2px solid black;
}
#startbutton{
    margin:0 auto;
}
#usedwrapper{
    font-size:20px;
    width:45%;
    float:right;
}
#guessesleft{
    color:purple;
    size: 40px;
}
#gamescaffold{
    width: 66.6%;
    float:right;
    display:none;
}
#maingame{
    float:left;
    width:45%;
    margin: 0 auto;
    text-align:center;
    padding:5px;
}
#winlossscreen{
    display:none;
    font-size: 20px;
}
.letter{
    margin: 0 auto;
    height: auto;
    width: 20px;
    display:inline-block;
    color:black;
   border-bottom: 3px solid red;
    padding-left:2px;
    padding-right:2px;
    font-size: 30px;
    
}
#wincount, #losscount, #endword{
    font-size:20px;
color:purple;
}
#left{
    width:25%;
    height:auto;
   float:left;
   position:fixed;
   left:0px;
   bottom:0px;
   max-height:55vh;
   

}
#right{ float:right;
    width: 25%;
    height:auto;
    position:fixed;
    right:0px;
    bottom:0px;
    max-height:55vh;
}
#lettersguessed{
    color:purple;

}